<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  {% include google_analytics.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          {% for page in site.pages_list %}
            &nbsp;&nbsp;&nbsp;&nbsp;<small><a href="{{ page[1] }}">{{ page[0] }}</a></small>
          {% endfor %}
<!--           {% for cat in site.categories %}
            &nbsp;&nbsp;&nbsp;&nbsp;<small><a href="/">{{ cat[0] }}</a></small>
          {% endfor %} -->
        </h3>
      </header>

      <main>
        {{ content }}

        {% include comments.html %}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
        <ul class="social-icons">
        {% include social-icons.html %}
        </ul>
      </footer>
    </div>

  </body>
</html>
